html {
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
    -webkit-font-smoothing: antialiased;
}

:root {
    --primary-color: #24292e;
    --secondary-color: #fff;
    --dark-color: #111;
    --light-color: #f2f2f2;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #f2f2f2;
    color: var(--primary-color);
    transition: background-color 0.5s, color 0.5s;
    margin: 0;
    padding: 0;
}

header {
    top: 0;
    left: 0;
    position: sticky;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    padding: 20px 0;
    z-index: 1;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.logo {
    font-size: 1.5em;
}

.nav-links {
    list-style-type: none;
    display: flex;
    gap: 20px;
}

.nav-links li a {
    color: var(--secondary-color);
    text-decoration: none;
}

.nav-links li a:hover {
    text-decoration: underline;
}

.toggles {
    display: flex;
    gap: 20px;
}

nav #ha-toggle {
    display: none;
}

section {
    padding: 50px 0;
}

section h2 {
    margin-bottom: 25px;
    text-align: center;
}

img {
    border-radius: 50%;
    max-width: 100%;
    height: auto;
}

#bild {
    border-radius: 50%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);
    position: relative;
    overflow: hidden;
}

#bild::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.25) 45%, rgba(0, 0, 0, 1) 100%);
}

#bild img {
    display: block;
}

#introh1 {
    font-size: xx-large;
    position: relative;
    animation: waviy 3s infinite;
    animation-delay: calc(.1s * var(--i));
}

@keyframes waviy {

    0%,
    40%,
    100% {
        transform: translateY(0)
    }

    20% {
        transform: translateY(-10px)
    }
}

.btn {
    font-weight: 600;
    transition: all 300ms ease;
    padding: 1rem;
    width: 8rem;
    border: none;
    border-radius: 2rem;
    margin-bottom: 10px;
    color: var(--secondary-color);
    background-color: var(--primary-color);
    transition: transform 0.3s ease;
    cursor: pointer;
}

.btn:hover {
    transform: translateY(-3px);
}

.dark .btn {
    color: var(--dark-color);
    background-color: var(--secondary-color);
}

.greyh {
    color: #545454;
}

.dark .greyh {
    color: #c6c6c6;
}

#profile {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    height: 80vh;
    justify-content: center;
    text-align: center;
    gap: 10px;
    overflow-x: hidden;
}

#profile i {
    font-size: 2em;
    color: var(--primary-color);
    margin: 5px;
}

.dark #profile i {
    color: var(--secondary-color);
}

#gm {
    text-align: center;
}

#aboutsection {
    display: flex;
    flex-flow: row wrap;
}


hr {
    width: 80%;
    height: 2px;
    background: var(--primary-color);
    border: 0;
}

.dark hr {
    background: var(--secondary-color);
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    background-color: var(--secondary-color);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    border-radius: 25px;
    padding: 20px;
    margin: 10px;
    text-align: center;
    width: 220px;
    transition: transform 0.3s ease;
}

.card:hover {
    transform: translateY(-5px);
}


.card i {
    font-size: 2em;
    color: var(--primary-color);
}

.card h3 {
    margin-top: 10px;
}

footer {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    text-align: center;
    padding: 20px 0;
}

footer i {
    font-size: 2em;
    color: var(--secondary-color);
    margin: 5px;
}

.dark footer i {
    color: var(--secondary-color);
}

.dark-mode-toggle {
    cursor: pointer;
}

.dark-mode-toggle i {
    font-size: 1.5em;
}

.timeline {
    position: relative;
}

.timeline-item {
    display: flex;
    margin-bottom: 40px;
}

.timeline-dot {
    width: 20px;
    height: 20px;
    background-color: var(--primary-color);
    border-radius: 50%;
    margin-right: 20px;
}

.timeline-content {
    flex: 1;
    padding: 15px;
    border-radius: 25px;
    background-color: var(--secondary-color);
}

.timeline-date {
    font-weight: bold;
    margin-bottom: 10px;
    color: var(--primary-color);
}

.timeline-item::after {
    content: '';
    position: absolute;
    width: 3px;
    height: 100%;
    background-color: var(--primary-color);
    left: 9px;
    top: 20px;
}

/* Dark mode */
.dark {
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

.dark header {
    background-color: var(--dark-color);
}

.dark nav {
    background-color: var(--dark-color);
}

.dark .nav-links li a {
    color: var(--secondary-color);
}

.dark .card {
    background-color: var(--dark-color);
    color: var(--secondary-color);
}

.dark .card i {
    color: var(--secondary-color);
}

.dark .timeline-item::after {
    background-color: var(--secondary-color);
}

.dark .timeline-content {
    background-color: var(--dark-color);
    border-color: var(--secondary-color);
    color: var(--secondary-color);
}

.dark .timeline-dot {
    width: 20px;
    height: 20px;
    background-color: var(--secondary-color);
    border-radius: 50%;
    margin-right: 20px;
}

.dark .timeline-date {
    font-weight: bold;
    margin-bottom: 10px;
    color: var(--secondary-color);
}

.skill-level {
    display: inline-block;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 0.8em;
}

.basic {
    background-color: #ffcccc;
    color: #cc0000;
}

.intermediate {
    background-color: #ffffcc;
    color: #999900;
}

.advanced {
    background-color: #ccffcc;
    color: #009900;
}

#projects .container {
    flex: 1;
    width: 90vw;
}

#projects img {
    border-radius: 15px;
}

#projects .card {
    width: calc(25% - 5px);
    min-width: 220px;
}

@media screen and (max-width: 768px) {

    #intro {
        height: 83vh;
        text-align: center;
    }

    #profile {
        gap: 5px;
        height: 55vh;
        align-items: center;
    }

    nav #ha-toggle {
        display: block;
    }

    nav .fa-bars {
        font-size: 1.5em;
        cursor: pointer;
    }

    nav .fa-times {
        font-size: 1.5em;
        cursor: pointer;
    }

    .nav-links {
        display: none;
    }

    nav.active .nav-links {
        display: flex;
        flex-direction: column;
        width: 100vw;
        align-items: center;
        position: fixed;
        gap: 0;
        top: 53px;
        background-color: var(--primary-color);
        padding: 15px 0 15px 0;
        left: 0;
        border-top: #fff 1px solid;
    }

    nav.active .nav-links li {
        width: 100%;
        text-align: center;
        padding: 15px 0 15px 0;
    }

    nav.active .nav-links li:hover {
        background-color: #111;
    }
}